body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aqua;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

p {
    color: black;
    font-weight: 400px;
    font-size: 20px;
}